* {
  box-sizing: border-box;
}

nav {
  color: azure;
  background: rgb(55, 55, 55);
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 55px;
}

nav h1 {
  margin: 0;
}

nav a {
  color: aliceblue;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: grey;
} 

main {
  margin-top: 75px;
}

.trip-card {
  margin: 30px;
}

.eventDetails-card {
  margin: 30px
}

.trip-details {
  margin: 15px
}
